.all-marquees {
  display: flex;
  overflow: visible;
}

.marq-bro {
  display: flex;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

.each-marquee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 120px;
  /* margin-right: 150px; */
  padding: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 40px;
  margin-bottom: 40px;
}

.each-marquee:hover {
  box-shadow: 0px 16px 4px #bfbfbf !important;
}

@media (max-width: 768px) {

  .each-marquee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 120px;
    padding: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    margin: 20px;
  }
}