.my-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px 0; */
}









.skill-name {
    color: rgb(152, 156, 161);
    font-weight: 700;
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
}

.each-svg {
    height: 80px;
    width: 80px;
}

.get-to-know-me {
    margin-bottom: 20px;
    color: rgb(85, 56, 17);
    font-size: 27px;
}

.skills-head-name {
    margin-bottom: 20px;
    color: rgb(85, 56, 17);
    font-size: 27px;
    margin-left: 70px;
}

.contact {
    background-color: transparent;
    border: 1px solid rgb(98, 92, 92);
    border-radius: 60px;
    font-family: "Roboto";
    color: rgb(98, 92, 92);
    margin-right: 20px;
    width: 180px;
    font-weight: 500;
    height: 40px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.contact:hover {
    background-color: rgb(52, 133, 255);
    color: white;
    border-width: 0px;
}

.contact-container {
    text-align: left;
}



.profile-img-for-skills {
    height: 500px;
    width: 400px;
    margin-left: 40px;
    margin-top: -58px;
    border-radius: 25%;
    border: 2px solid rgb(52, 133, 255);
}

.skill-img-container {
    width: 50%;
}

.left-container {
    width: 70%;
    margin-right: 40px;
}

.know-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.4) !important;
    padding: 40px 20px;
    margin-left: 20px;

    border-radius: 15px;
    /* position: relative;
    z-index: 5; */
}





/* Ensure vertical gap between stacked marquees (react-fast-marquee renders .rfm-marquee) */
.skillsarrange .rfm-marquee {
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}

/* Ensure marquee content flows properly with proper spacing */
.skillsarrange .rfm-marquee>div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0;
}

/* Ensure proper spacing between marquee elements */
.skillsarrange .rfm-marquee .each-marquee {
    margin-right: 0;
}


.underline {
    color: rgb(78, 74, 74);
    font-weight: 700;
    border-bottom: 1px solid #ac4be5;
}

.get-more-para {
    color: rgb(110, 106, 106);
    font-family: "Roboto";
    text-align: justify;
    margin-bottom: 40px;
}

@media(max-width: 768px) {

    /* Prevent horizontal overflow */
    * {
        max-width: 100%;
        box-sizing: border-box;
    }

    .profile-img-for-skills {
        display: none;
        height: 550px;
        width: 450px;
        margin-left: 40px;
        margin-top: -58px;
        border-radius: 25%;
        border: 2px solid rgb(52, 133, 255);
    }

    .skill-img-container {
        width: 100%;
        margin-bottom: 30px;
    }

    .know-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.4) !important;
        padding: 40px 20px;
        margin-left: 20px;

        border-radius: 15px;
        /* position: relative;
        z-index: 5; */
    }

    .left-container {
        width: 100% !important;
        /* text-align: center;
        margin-right: -10px; */

    }

    .my-skills {
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        /* background-color: red; */
    }


    .skills-left {
        margin-left: 0;
        padding-left: 0;
    }



    .each-marquee:hover {
        transform: translateY(-2px);
    }

    /* Increase icon size for better visibility */
    .each-marquee svg {
        font-size: 48px !important;
    }

    .skill-name {
        font-size: 16px;
        margin-top: 15px;
        font-weight: 700;
        color: rgb(152, 156, 161);
        text-align: center;
    }


    /* Proper marquee spacing */
    .skillsarrange .rfm-marquee {
        margin-bottom: 50px;
    }

    .consistency-showcase {
        display: flex;
        flex-direction: column;
        min-height: auto;
        height: auto;
        background-color: transparent;
        position: relative;
        z-index: 1;
        margin-top: 20px;
        margin-bottom: 40px;
        color: black;
        font-weight: 700;
        padding: 30px 20px;
        justify-content: center;
        align-items: center;
    }

    .each-con {
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
    }

    .each-con:last-child {
        margin-bottom: 0;
    }

    /* Additional mobile optimizations for very small screens */
    @media(max-width: 480px) {
        .each-marquee {
            padding: 15px 10px;
            width: 120px;
            min-width: 120px;
            margin: 0 25px;
            margin-right: 30px;
        }

        .each-marquee svg {
            font-size: 36px !important;
        }

        .skill-name {
            font-size: 12px;
            margin-top: 10px;
        }

        .marquee-container {
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 15px 0;
        }

        .skillsarrange .rfm-marquee {
            margin-bottom: 35px;
        }
    }
}

.gif {
    height: 16px;
    width: 15px;
    display: inline;
    margin-bottom: 6px;
}

.consistency-showcase {
    display: flex;
    background-color: transparent;
    min-height: 200px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-weight: 700;
    padding: 20px 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con-number {
    font-size: 70px;
    font-weight: 700;
}

.each-con {
    text-align: center;
}


.con-para {
    color: rgb(119, 115, 115);
    font-size: 25px;
}

/* .skills-icons-container {
    
} */

.marquee-relevent-skills {
    margin-top: 50px;
    margin-bottom: 50px;
}
.each-mar-skills {
    margin-right: 70px;
    font-size: 50px;
    font-weight: bold;     
    color: silver;
}

.each-mar-skills:hover{
    color: rgb(36, 35, 35);
}