.flex {
    display: flex;
    margin-top: px;
}

.contact-container {
    width: 60%;
    height: 83%;
    display: flex;
    background-color: white !important;
    box-shadow: 0px 3px 8px #bfbfbf;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

.main-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    position: relative;
    z-index: 5;
    padding: 20px 0;
    margin-top: -50px;
}

.keyboard-img {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 350px;
    left: 650px;
}

.first-part {
    width: 50%;
}

.second-part {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-text {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.text-description {
    color: rgb(107, 103, 103);
    margin-top: 20px;
    margin-bottom: 10px;
}

.icons {
    border-radius: 50%;
    font-size: 20px;
}

.icon-container {
    margin-top: -4px;
    background-color: #a0acd9;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.contact-names {
    color: rgb(97, 96, 96);
    font-size: px;
}

.details-container {
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-icons {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(203, 213, 230);
    border-radius: 50%;
    padding: 13px;
    margin-right: 20px;
}

.social-icons:hover,
social:hover {
    background-color: #305eff;
    color: white;
}

.main-social-container {
    margin-bottom: 80px;
}

.contact-input {
    border: 1px solid silver;
    border-radius: 5px;
    width: 170%;
    margin-bottom: 15px;
    padding: 3px;
}

label {
    font-size: 14px;
    color: #757171;
    font-weight: 400;
    margin-bottom: 2px;
}

.policy-text {
    margin-left: 10px;
    margin-top: -10px;
}

.send-msg-btn {
    background-color: #305eff;
    width: 170%;
    color: white;
    border-radius: 4px;
    padding-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.send-icon {
    margin-right: 10px;
}

@media(max-width: 768px) {
    .contact-container {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        background-color: white !important;
        box-shadow: 0px 3px 8px #bfbfbf;
        padding: 20px;
        border-radius: 10px;
        margin-top: 30px;
        position: relative;
        z-index: 10;
        margin-left: auto;
        margin-right: auto;
    }

    .first-part {
        width: 100%;
    }

    .second-part {
        display: flex;
        flex-direction: column;
        margin-left: -7px;
        margin-top: -55px;
    }

    .contact-input {
        border: 1px solid silver;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 15px;
        padding: 3px;
    }

    .send-msg-btn {
        background-color: #305eff;
        width: 100%;
        color: white;
        border-radius: 4px;
        padding-top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin-top: 20px;
    }
}

.error-msg {
    color: red;
    font-size: 15px;
    font-weight: 500;
}

.error-msg-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 3px;
}