.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100%;
}

.nav-body {
    background: hsla(0, 0%, 100%, 0.8);
    width: 100%;
    height: 70px;
    /* margin-top: 30px;
    border-radius: 40px; */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 16px #bfbfbf;
    position: relative;
    z-index: 100;

}

.nav-links {
    font-weight: 700;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Source Sans Pro';
}

.nav-links-container {
    margin-top: 20px;
}

.header-log {
    margin-left: 20px;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(16, 20, 57);
    position: relative;
    z-index: 10;
}

/* .logo {
    width: 110px;
    height: 80px;
    border-radius: 100%;
    margin-top: -3px;
    opacity: 0.9;
} */

.logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 13px;
    margin-left: 30px;
}

/* .logo {
    filter: brightness(0) saturate(100%) invert(21%) sepia(28%) saturate(1986%) hue-rotate(187deg) brightness(95%) contrast(93%);
} */


.nav-links {
    position: relative;
    overflow: hidden;
    color: #033f63;
}

.nav-links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background: #305eff;
    transition: width 0.3s ease;
}

.nav-links:hover::after {
    width: 100%;
}

@media(max-width: 768px) {
    .nav-links-container {
        display: none;
    }

    .burger {
        display: block !important;
        margin-right: 40px;
        visibility: visible;
        position: relative;
        z-index: 10;
    }


    .header-log {
        font-size: 25px;
        margin-top: 15px;
    }

    .popup-container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        align-items: right;
        background-color: white;
        width: 560px;
        height: 600px;
        margin-top: -50px;
        animation: slideInFromTop 0.3s ease-out;
    }

    @keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .nav-links {
        font-weight: 700;
        margin-right: 50px;
        font-size: 20px;
        font-family: 'Source Sans Pro';
        margin-bottom: 20px;
        color: #6e6969;
        margin-left: 20px;
    }

    .nav-links:hover {
        color: rgb(0, 0, 0);
    }

    .main-pop {
        display: flex;
        justify-content: space-between;
    }
}

.burger {
    display: none;
}

.burger-container {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.burger-icon {
    color: rgb(16, 20, 57);
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
}

.cross-icon {
    color: rgb(16, 20, 57);
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
}

.burger-icon.hidden {
    opacity: 0;
    transform: rotate(-90deg) scale(0.5);
}

.cross-icon.visible {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}